

<a class="btn btn-sm btn-info button-intable" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-sm btn-warning button-intable" asp-action="Details" asp-route-id="@Model.Id">Details</a>
<a class="btn btn-sm btn-danger button-intable" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>