@model iAgenda.Models.Driver

@{
    ViewData["Title"] = "Create";
}

<h4>Εισαγωγή νέου οδηγού</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Ονοματεπώνυμο</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Σταθερό τηλέφωνο</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Κινητό 1</label>
                <input asp-for="Mobile1" class="form-control" />
                <span asp-validation-for="Mobile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Κινητό 2</label>
                <input asp-for="Mobile2" class="form-control" />
                <span asp-validation-for="Mobile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Τετραψήφιο</label>
                <input asp-for="FourDigitsCode" class="form-control" />
                <span asp-validation-for="FourDigitsCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Αριθμός Φορτηγού</label>
                <input asp-for="TrackNr" class="form-control" />
                <span asp-validation-for="TrackNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Σημειώσεις</label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Τμήμα</label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Υποκατάστημα</label>
                <select asp-for="BranchOfficeId" class ="form-control" asp-items="ViewBag.BranchOfficeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
